// Input + Output
disturbances {
  
  mask_is_vector = false
  mask_file = "params.processing_mask_${year}"

  // For monitoring-residuals and reference-statistics

  /* Start + end of the reference period 
  -- The reference period is used to characterize the "usual" phenology of spruce trees.
  -- It is assumed that no disturbance happened during this period. */
  reference_start = '2015'
  reference_end   = '2017'

  /* Start + end of the monitoring period 
  -- The monitoring period is used to detect disturbances, i.e.,
  -- observations that notably and persistently differ from the "usual" phenology. 
  -- The monitoring period starts after the reference period. */
    monitor_end = '2024'

  /* Seasonal window
  -- This is used to restrict the analysis to a suitable part of the year, e.g.,
  -- to exclude winter observations. Values are in Day-of-Year format. */
  season_start    = 121
  //season_start    = 150
  season_end      = 274

  /* Spectral Index */
  index = 'CRemoveSWIR1'

  // For disturbance detection

  /* residuals should be x times larger than the standard deviation in the reference period */
  thr_std = 3

  /* residuals need to be at least this high */
  thr_min = 200

  /* threshold test direction: gt = +1 | lt = -1 */
  thr_direction = 1
}