params{
  treeSpecies {
    training_points     = "/data/ahsoka/eocp/forestpulse/INTERNAL/BWI4/2nd_sampling/3_GIS_selection/second_sampling_merge2.gpkg"
    year                = 2021

    num_libs            = 5
    lib_size            = 256000
    tree_index          = '[1,2,3,4,5,6,7,8,9,10,11,12,13,14]'
    tree_class_weights  = '[1,1,0.25,1,1,1,1,1,1,1,1,1,1,1]'
    mixutre_list        = '[1,2,3]'
    mixture_weights     = '[1,5,5]'
    
    num_models          = 1
    tree_labels         = "['Fichte','Kiefer','Tanne','Douglasie','Larche','Buche','Eiche','Ahorn','Birke','Erle','Pappel','OtherDT', 'Ground', 'Shadow']"
    num_hidden_layer    = 5
    hidden_layer_nodes  = 128
    learning_rate       = 1e-3
    batch_size          = 256
    epochs              = 250

    tree_class_list     = tree_index

    noisy_th            = 20
    use_shadow_th       = 'F'
    shadow_th           = 30
    forest_mask_holder  = "/data/ahsoka/eocp/forestpulse/01_data/02_processed_data/cube"
    forest_mask_name    = "holzbodenkarte_2018.tif"
    use_disturbance_mask    = 'T'
    disturbance_mask_folder = '/data/ahsoka/eocp/forestpulse/01_data/02_processed_data/hungry-beetle/HungryBeetle_DEU'
    disturbance_mask_name   = 'disturbance_year.tif'
  }

}