/* Sample configuration file
-- This file provides an example on how to set up parameters for the ForestPulse
-- project. These are the parameters used in the server hosted by CODE-DE.
--
-- As such, for versions hosted in other locations, it must be changed accordingly:
-- File should be renamed `nextflow.config` and located in the base directory of
-- the project (i.e. next to `main.nf`). `nextflow.config` has been added by
-- default to `.gitignore` to avoid risk of overwriting configurations.
*/

includeConfig 'params/forestMask.config'
//includeConfig 'params/treeSpecies.config'
//includeConfig 'params/disturbances.config'


/* Custom Location File
-- An extra parameter file has been created, to override whichever defaults have been
-- found on the parameter files above. Some the aforementioned parameters would
-- include file locations, which are computer-dependent. Any other variable found on
-- these files can be added as well.
--
-- This file is not necessary in the base installation, thus it has been commented.
-- Please rename and adapt custom.config.example accordingly should it be required.
*/
//includeConfig 'params/custom.config'

params {

  /* Project name
  -- This is used to structure output, as well as cache and working directories. */
  project    = "ForestPulse-rlp"

  /* Area of Interest
  -- This should be a vector polygon file with the boundary of your study area.
  -- It is used to determine the processing extent. */
  //aoi = '/data/ahsoka/dc/deu/vector/DEU.gpkg'
  //aoi = '/home/ahsoka/jara/rlp.gpkg'
  //aoi = '/input/fp-nfs/defaults/AOI/DEU.gpkg'
  aoi = '/input/fp-nfs/defaults/AOI/rlp.gpkg'
  
  /* FORCE Data Cube
  -- This should be a Level 2 ARD Data Cube generated by FORCE 
  -- D. Frantz (2019): FORCE – Landsat + Sentinel-2 Analysis Ready Data and beyond. 
  -- Remote Sensing 11, 1124. https://doi.org/10.3390/rs11091124
  -- Code: https://github.com/davidfrantz/force */
  //datacube = '/data/ahsoka/dc/deu/ard'
  datacube = '/force/FORCE/C1/L2/ard'
  
  /* Working directory 
  -- Do not delete if you want to resume workflow at a later stage. */
  //working = '/nvme2/ahsoka/gi-sds/forestpulse-workdir'
  working = '/workdir/fp-nfs/ForestPulse'

  /* Output directory
  -- Will contain all workflow output and details on workflow execution.
  -- Do not delete ``.nextflow`` directory if you want to resume workflow at a later stage. */
  //publish = '/data/ahsoka/eocp/forestpulse/01_data/02_processed_data/workflow'
  publish= 'output/fp-nfs/ForestPulse'

  /* Default Mask
  -- Will contain a mask to be used when no mask has been set
  */
  default_mask = 'something'
  mask = '${default_mask}' //just for syntactic sugar when running the submodules solo

  processing_mask_dir = "${params.publish}/${params.project}/processing_mask"

}

// other general configuration
params {
    /* Number of CPUs
  -- Maximum number of CPUs that shall be used by multithreaded processes. 
  -- Give a higher number for small AOIs, and a lower number for large AOIs.
  -- But keep reading speed, as well as available RAM in mind! */
  max_cpu = 4

  /* Sensors to used */
  sensors = 'SEN2A SEN2B'

  /* Analysis resolution */
  resolution = 10

}

//workDir='/workdir/fp-nfs/work'
workDir = "$params.working/$params.project"

process {
    executor = 'k8s'
    container = 'ubuntu:22.04'

    cpus = 1
    withLabel: 'multithread' { cpus = params.max_cpu }

    withLabel: 'tree_mask'    { container = 'ghcr.io/forestpulse/tree-mask:latest'}
    withLabel: 'tree_species' { container = 'ghcr.io/forestpulse/tree-species-unmixing:latest'}
    withLabel: 'force'        { container = 'davidfrantz/force:latest'}
    withLabel: 'beetle_core'  { container = 'ghcr.io/forestpulse/hungry-beetle-core:latest'}
    withLabel: 'mmu'          { container = 'davidfrantz/mmu'}

    errorStrategy = 'terminate'
    maxRetries = 0
}

k8s {
  namespace = 'default'
  securityContext = [
    runAsUser: 1001,
    runAsGroup: 1002,
    fsGroup: 1002,
    fsGroupChangePolicy: 'Always'
  ]
  computeResourceType = 'Job'
  pod = [
    [volumeClaim: 'userinput-pvc',      mountPath: '/userinput/fp-nfs/'],
    [volumeClaim: 'input-pvc',          mountPath: '/input/fp-nfs/'],
    [volumeClaim: 'output-pvc',         mountPath: '/output/fp-nfs/'],
    [volumeClaim: 'workdir-pvc',        mountPath: '/workdir/fp-nfs/'],
    [volumeClaim: 'force-pvc',          mountPath: '/force/',               readOnly: true]
  ]
}

docker {
  enabled = true

  /* only use if not in Kubernetes */
  //runOptions = '-u $(id -u):$(id -g)'
}

log.level = 'DEBUG'

dag {
  enabled = true
  overwrite = true
  file = "$params.publish/$params.project/workflow_dag.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.publish/$params.project/workflow_report.html"
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.publish/$params.project/workflow_timeline.html"
}