
workDir='/workdir/fp-nfs/work'

process {
    executor = 'k8s'
    container = 'ubuntu'
    withLabel: 'tree-species' {container = 'ghcr.io/forestpulse/tree-species-unmixing:dev'}
}

k8s {
  namespace = 'default'
  computeResourceType = 'Job'
  pod = [
    [volumeClaim: 'userinput-pvc',      mountPath: '/userinput/fp-nfs/',    readOnly: true],
    [volumeClaim: 'input-pvc',          mountPath: '/input/fp-nfs/',        readOnly: true],
    [volumeClaim: 'output-pvc',         mountPath: '/output/fp-nfs/'],
    [volumeClaim: 'workdir-pvc',        mountPath: '/workdir/fp-nfs/'],
    [volumeClaim: 'force-pvc',          mountPath: '/force/',               readOnly: true]

  ]
}

log.level = 'DEBUG'